body { 
}

a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
}

a:hover {
    background-color: white;
    color: steelblue;
}

h1 {
    color: steelblue;
    text-align: center;
}

img {
    width: 80%;
    border: 4px solid steelblue;
    display: block;
    margin: 0 auto;
}

main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

footer, nav {
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 10px;
}

.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

#active {
    background-color: white;
    color: steelblue;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}